@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);

div, body {
	background-image: url(/public/images/back_pattern.png)
	margin: 5px;
	padding: 0px;
}

body {
	font-family: Helvetica;
	text-align: center;
}


h1 {
	font-size: 50px;
	font-weight: 100;
	margin-bottom: -10px;
}

h2 { 
	font-size: 16px;
	font-weight: 50;
	font-family: 'The Girl Next Door', cursive;
}


ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

italic {
	font-style: italic;
}
