@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

div, body {
	margin: 5px;
	padding: 0px;
}

body {
	font-family: "Archivo Narrow";
	text-align: center;
	font-weight: 500;
}


h1 {
	color: #7ECCAE;
	font-size: 50px;
	font-weight: 100;
	margin-bottom: -10px;
	font-family: 'Archivo Black';
}

h2 { 
	font-size: 16px;
	font-weight: 50;
	font-family: 'Special Elite';
}


ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	font-family: 'Archivo Narrow';
	color: #399673;
	text-decoration: none;
	font-weight: bold;
}
