div, body {
	margin: 5px;
	padding: 0px;
}

body {
	font-family: Helvetica;
	text-align: center;
}


h1 {
	font-size: 50px;
	font-weight: 100;
	margin-bottom: -20px;
}

h2 { 
	font-size: 15px;
	font-weight: 20;
	font-style: italic;
}


ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

italic {
	font-style: italic;
}
